/*
 font-family: Montserrat/Lato
 color: #2c3e50 / #18bc9c / #212529
 */


 *{
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
 }

 body{
   margin: 0 auto;
   max-width: 100%;
 }

/*estilos a nav*/
 nav{
   position: fixed;
   width: 100%;
   z-index: 100;
}
nav .container{
  background-color: #2c3e50;
  width: 100%;
  height: 100px;
  display: block;
  line-height: 1.5;
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}
.title1{
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-flow: wrap;
  font-size: 40px;
  font-weight: 800;
  padding: 10px;
  text-decoration: none;
  width: 40%;
}

nav .container ul{
 /*outline: 2px solid yellow;*/
  list-style: none;
  margin-top: 50px;
  position: absolute;
  right: 0;
  bottom: 35px;
  display: flex;
  width: 50%;
  font-size: 20px;
  justify-content: flex-end;
}

nav .container ul li a{
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}
nav .container ul li a:hover{
  color: #18bc9c;
}

/*estilos al header*/

header{
  background-color: #18bc9c;
  display: block;
  height: 880px;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
}
header .container{
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 120px;
  width: 100%;
}
header .container .text{
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  line-height: 50px;
}

.line-star-white{
 border: 2px solid #fff;
 margin: auto;
 position: relative;
 top: 20px;
 width: 30%;
}
.fa-star-white{
  background-color: #18bb9b;
  color: #fff;
  font-size: 20px;
  transform:translateY(-70%);
  padding: 13px;
  margin-top: 12px;
  position: relative;
  top: 25px;
}

.skills span{
  display: inline-block;
  font-size: 25px;
}

/*SECTION - PORTFOLIO*/
.portfolio .container{
  width: 100%;
  margin-top: 20px;
  line-height: 2;
}
 .title-2{
  margin-top: 30px;
  font-size: 50px;
  font-weight: 800;
}
.line-star-black{
 width: 200px;
 border: 2px solid #000;
 margin: auto;
 margin-top: 30px;
}
.fa-star-black{
  background-color: #fff;
  color: #000;
  transform:translateY(-78%);
  margin-top: 15px;
  padding: 13px;
}
.portfolio-items{
  margin: auto;
  width: 90%;
}

#image{
  display: inline-block;
  margin: 15px;
  width: 350px;
  height: 280px;
}
#image img{
  cursor: pointer;
  width: 100%;
}

/*SECTION - ABOUT*/
#about{
  background-color: #18bc9c;
  height: 600px;
  padding-top: 25px;
  padding-bottom: 50px;
  width: 100%;
}
#about .container{
  color: #fff;
  line-height: 1.5;
}
.title-3{
  margin-top: 30px;
  font-size: 50px;
  font-weight: 800;
}
#about .line-star-white{
 border: 2px solid #fff;
 margin-top: 0;
 width: 200px;
}
.fa-star-white{
  background-color: #18bb9b;
  color: #fff;
  font-size: 20px;
  transform:translateY(-105%);
  padding: 13px;
  margin-top: 30px;
}
#about .description{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 60px;
}
.description p{
  /*outline: 1px solid red;*/
  font-size: 18px;
  margin: 15px;
  padding: 15px;
  width: 25%;
  text-align: justify;
}

.download{
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  position: relative;
  bottom: 60px;
  width: 25%;

}
.download:hover{
  background-color: #fff;
  color: #18bc9c;

}
/*SECTION-CONTACT*/
#contact{
  height: 700px;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
}
#contact .container{
  position: relative;
  bottom: 80px;
}
.title-4{
  font-size: 50px;
}
#contact input, #contact textarea{
  width: 80%;
  border: none;
  border-bottom: 1px solid #ccd3d1;
  line-height: 3;
  font-size: 25px;
  text-align: left;
}
#contact textarea{
  height: 150px;
}
#contact form{
  width: auto;
}
#submit input{
  border-radius: 5px;
  background-color:#18bb9b;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  width: 80px;
}


/*FOOTER*/
footer{
  background-color: #2c3e50;
  color: #fff;
  display: block;
  line-height: 1.5;
}
.footer-above,.footer-below{
  display:block;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-above .location, .footer-above .web, .footer-above .about-freelancer{
  display: inline-block;
  margin-top: 0;
  /*outline: 1px solid #18bc9c;*/
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-above .location h2, .footer-above .web h2, .footer-above .about-freelancer h2{
  font-weight: 700;
}

.footer-above .location{
  /*position: relative;*/
  /*bottom: 25px;*/
  width: 30%;
}

.footer-above .web{
  /*position: relative;*/
  /*bottom: 35px;*/
  width: 30%;
}
.footer-above .web .sites-web a{
  height: 40px;
  width: 40px;
}

.footer-above .web .sites-web a i{
  color: #fff;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  /*outline: 1px solid #fff;*/
  height: 45px;
  width: 45px;
  border: 1px solid #fff;
  border-radius: 45px;
  vertical-align: middle;
}
.footer-above .web .sites-web a i:hover{
  background-color: #fff;
  color: #18bc9c;
}

.footer-above .about-freelancer{
  /*position: relative;*/
  width: 30%;
}

.footer-above .about-freelancer p span a{
  text-decoration: none;
  color: #18bc9c;
}
